.grid {
    display: grid;
    grid-template-columns: 1fr 400px;
    grid-gap: 20px;

    &>section {
        &>h2 {
            text-align: center;
            margin: 30px 0 30px 0;
        }
    }
}